body{
    background-color: #f3f2cd;
}

h2{
    font-family: "Indie Flower";
    font-size: 40px;
    color: #560202;
}

section{
    text-align: center;
}

p{
    font-family: "Teko";
    font-size: 30px;
}

hr{
    color: #560202;
    height: 7px;
    width: 70%;
    background-color: #560202;
    border-radius: 5px;
}