span{
    font-family: "Indie Flower";
    color: #560202;
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
}

#vantagens{
    margin: 0 auto;
}

#vantagens ul li img{
    max-width: 80px;
    max-height: 80px;
}

#vantagens ul li p{
    max-width: 450px;
    max-height: 200px;
}

#vantagens ul li { 
    display: inline-block;
    background-color:#f3f2cd; 
    text-decoration: none; 
    vertical-align: top;
}