nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #373636;
    position: fixed;
    width: 100%;
    font-family: "Teko";
    font-size: 20px;
}

nav > a {
    text-decoration: none;
    color: #f3f2cd;
    font-weight: 700;
    font-size: 28px;
}

.nav:hover{
    color:#560202;
    border: 0px solid;;
    border-color: #f3f2cd;
    border-radius: 4px;
    background-color: #f3f2cd;
}

#nav_b{
    font-family: 'Indie Flower', 'Noto Serif Japonese';
    color: #560202;
    border: 1px solid;
    border-color: #f3f2cd;
    background-color: #f3f2cd;
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f3f2cd;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
}